html {
    background: url(https://hdqwalls.com/wallpapers/kratos-in-god-of-war-kt.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  
  p {
    text-align: center;
    color: rgb(244, 244, 248);
    font-size: 80px;
  }